@media only screen and (max-width: 1880px) {
  #slides{
    height: 558px;
  }
}
@media only screen and (max-width: 1847px) {
  #slides{
    height: 548px;
  }
}
@media only screen and (max-width: 1814px) {
  #slides{
    height: 538px;
  }
}
@media only screen and (max-width: 1780px) {
  #slides{
    height: 528px;
  }
}
@media only screen and (max-width: 1747px) {
  #slides{
    height: 518px;
  }
 .Servicios p{
	margin-right: 10%;
 }
 .Contacto p{
	margin-left: 10%;
 }
 .Acerca p{
	margin-right: 10%;
 }
}
@media only screen and (max-width: 1714px) {
  #slides{
    height: 508px;
  }
 .Servicios p{
	margin-right: 10%;
 }
 .Contacto p{
	margin-left: 10%;
 }
 .Acerca p{
	margin-right: 10%;
 }
}
@media only screen and (max-width: 1680px) {
  #slides{
    height: 498px;
  }
}
@media only screen and (max-width: 1647px) {
  #slides{
    height: 488px;
  }
}
@media only screen and (max-width: 1614px) {
  #slides{
    height: 478px;
  }
}
@media only screen and (max-width: 1580px) {
  #slides{
    height: 468px;
  }
}
@media only screen and (max-width: 1547px) {
  #slides{
    height: 458px;
  }
}
@media only screen and (max-width: 1514px) {
  #slides{
    height: 448px;
  }
}
@media only screen and (max-width: 1480px) {
  #slides{
    height: 438px;
  }
}
@media only screen and (max-width: 1447px) {
  #slides{
    height: 428px;
  }
}
@media only screen and (max-width: 1414px) {
  #slides{
    height: 418px;
  }
}
@media only screen and (max-width: 1380px) {
  #slides{
    height: 408px;
  }
}
@media only screen and (max-width: 1347px) {
  #slides{
    height: 398px;
}
@media only screen and (max-width: 1314px) {
  #slides{
    height: 388px;
}
@media only screen and (max-width: 1280px) {
  #slides{
    height: 378px;
  }
}
@media only screen and (max-width: 1247px) {
  #slides{
    height: 368px;
  }
}
@media only screen and (max-width: 1214px) {
  #slides{
    height: 358px;
  }
}
@media only screen and (max-width: 1180px) {
  #slides{
    height: 348px;
  }
}
@media only screen and (max-width: 1147px) {
  #slides{
    height: 338px;
  }
}
@media only screen and (max-width: 1114px) {
  #slides{
    height: 328px;
  }
}

@media only screen and (max-width: 1080px) {
  #slides{
    height: 318px;
  }
}
@media only screen and (max-width: 1047px) {
  #slides{
    height: 308px;
  }
}

@media only screen and (max-width: 1014px) {
  #slides{
    height: 298px;
  }
}
@media only screen and (max-width: 947px) {
  #slides{
    height: 288px;
  }
}
@media only screen and (max-width: 914px) {
  #slides{
    height: 278px;
  }
}
@media only screen and (max-width: 880px) {
  #slides{
    height: 268px;
  }
}
@media only screen and (max-width: 847px) {
  #slides{
    height: 258px;
  }
  section img {
    width: 275px;
  }
}
@media only screen and (max-width: 814px) {
  #slides{
    height: 248px;
  }

}
@media only screen and (max-width: 780px) {
  #slides{
    height: 238px;
  }
}
@media only screen and (max-width: 747px) {
  #slides{
    height: 228px;
  }
}
@media only screen and (max-width: 714px) {
  #slides{
    height: 218px;
  }
  section img {
    width: 250px;
  }
}

@media only screen and (max-width: 680px) {
  #slides{
    height: 208px;
  }
}
@media only screen and (max-width: 647px) {
  #slides{
    height: 198px;
  }
}
@media only screen and (max-width: 614px) {
  #slides{
    height: 188px;
  }
  section img {
    width: 100px;
  }
}
@media only screen and (max-width: 580px) {
  #slides{
    height: 178px;
  }
}
@media only screen and (max-width: 547px) {
  #slides{
    height: 168px;
  }
}
@media only screen and (max-width: 514px) {
  #slides{
    height: 158px;
  }
}
@media only screen and (max-width: 480px) {
  #slides{
    height: 148px;
  }
}
@media only screen and (max-width: 447px) {
  #slides{
    height: 138px;
  }
}
@media only screen and (max-width: 414px) {
  #slides{
    height: 128px;
  }
}
@media only screen and (max-width: 380px) {
  #slides{
    height: 118px;
  }
  nav img{
    height: 90px;
  }
  .icono{
    top:45px;
    font-size: 35px
  }
  section img{
    width: 100px;
  }
  video{
    width: 100%;
    margin: 0;
  }
  .sacerca-L, .sacerca-R{
    width: 90%;
    margin: 0 5%;
  }
  .sacerca-L img, .sacerca-R img{
    width: 100%;
    margin-bottom: 25px;
  }
  section{
    width=100%;
  }
}
